# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
dist/

# Optional npm cache directory
.npm

# Optional pnpm
pnpm-lock.yaml

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
